body {
    background: linear-gradient(0deg, #b9deed, #efefef);
}

.main {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}

.main .logo {
    text-align: center;
}

.main .header {
    background: #00abff;
    border-radius: 10px 10px 0px 0px;
}

.main .logo .logoText {
    font-size: 3em;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: #00abff;
}

.main .header .mainMenu {
    display: flex;
    flex-wrap: wrap;
}

.main .header .mainMenu .menuItem {
    padding: 10px;
}

.main .header .mainMenu .menuItem:hover {
    background: #0085c7;
}

.main .header .mainMenu .menuItem.active {
    background: #0085c7;
}

.main .header .mainMenu .menuItem:first-child:hover, .main .header .mainMenu .menuItem.active:first-child {
    border-radius: 10px 0px 0px 0px;
}

.main .header .mainMenu .menuItem a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}

.main .footer {
    background: #00abff;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.main .footer a {
    color: white;
    text-decoration: none;
}

.main .content {
    padding: 10px;
    border-left: 1px solid #00abff;
    border-right: 1px solid #00abff;
    background: white;
}

.main .content .breadcrumbs {
    font-size: 0.8em;
    font-style: italic;
}

.main .content .breadcrumbs a {
    text-decoration: none;
    color: #00abff;
}

.main .alert {
    background: #57b6ef;
    color: white;
    padding: 5px 0px 5px 0px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main .alert:before {
    content: " ➡ ";
}

.main .alert.alert-error {
    background: #d70b0b;
}

.main .alert.alert-success {
    background: #389b38;
}

.main .alert.alert-info {
    background: #00abff;
}

.main h1, .main h2, .main h3, .main h4 {
    color: #00abff;
}

.table {
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #fff;
}

.table tbody tr:nth-child(even) {
    background: #F7F7F7;
}


.main textarea {
    width: 100%;
    resize: vertical;
    padding: 15px;
    height: 150px;
    border: 1px solid #00abff;
    margin-bottom: 10px;
}

.main .input {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #00abff;
    padding: 10px;
}

.main .w100 {
    width: 100%;
}

.main .button {
    background: #00abff;
    color: white;
    border: 0;
    padding: 10px;
    cursor: pointer;
}

.main .button:hover {
    background: #0085c7;
}

.main .messageBox {
    display: flex;
    flex-direction: column;
}

.main .messageBox .message {
    width: 300px;
    padding: 20px 10px;
    position: relative;
    background: #eee;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.main .messageBox .message.fromMe {
    align-self: end;
    background: #00abff;
    color: white;
}

.main .messageBox .message.fromCompanion:before {
    content: "";
    border: solid transparent;
    position: absolute;
    right: 100%;
    top: 50%;
    border-right-color: #eee;
    border-width: 9px;
    margin-top: -9px;
}

.main .messageBox .message.fromMe:before {
    content: "";
    border: solid transparent;
    position: absolute;
    left: 100%;
    top: 50%;
    border-right-color: #eeeeee;
    border-width: 9px;
    margin-top: -9px;
    transform: rotate(180deg);
}

.main .messageBox .message .name {
    font-weight: bold;
    position: absolute;
    top: 5px;
}

.main .messageBox .message .text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .messageBox .message .date {
    font-size: 0.7em;
    align-self: end;
}

.main .header .mainMenu .userInfo {
    margin-left: auto;
    background: #006fa7;
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0px 10px;
}

.main .header .mainMenu a {
    color: white;
    text-decoration: none;
}