{% extends 'layout.twig' %}
{% block title %}Главная страница{% endblock %}
{% block main %}
    <h1>Главная страница</h1>
    <p>Добро пожаловать на сайт проекта DeltaFrameework!</p>
    <p>Публичная часть сайта работает с использованием шаблонизатора Twig и пока малофункциональна.</p>
    <h2>Контакты</h2>
    <p>
    <table class="table">
        <thead>
        <tr>
            <th>Способ связи</th>
            <th>Контакт</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>E-mail</td>
            <td>rsgrinko@gmail.com</td>
        </tr>
        <tr>
            <td>Telegram</td>
            <td>rsgrinko</td>
        </tr>
        </tbody>
    </table>
    </p>
{% endblock %}