<!DOCTUPE html>
<html>
<head>
    <title>{% block title %}Delta Framework{% endblock %}</title>
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>


<div class="main">
    <div class="logo">
        <div class="logoText">DeltaFramework</div>
    </div>

    <div class="header">
        <div class="mainMenu">
            <div class="menuItem"><a href="/">Главная</a></div>
            <div class="menuItem"><a href="/admin/">Админка</a></div>
            <div class="menuItem"><a href="/">Link</a></div>
            <div class="menuItem"><a href="/info">Информация о сборке</a></div>
            <div class="menuItem"><a href="/test">Тестовая</a></div>
        </div>

    </div>
    <div class="content">
        <div class="breadcrumbs"><a href="/">Главная</a> &raquo; Раздел &raquo; Тестовая</div>
        {% block main %}{% endblock %}
    </div>

    <div class="footer">
        All right reserved, {{ currentYear }}
    </div>
</div>
</body>
</html>