{% extends 'layout.twig' %}

{% block title %}тестинг{% endblock %}

{% block main %}
    <h1>Тестовая страница</h1>
    <p>This is sample text!</p>
    <div class="alert alert-error">Error alert</div>
    <div class="alert alert-success">Success alert</div>
    <div class="alert alert-info">Info alert</div>

    <h2>Table</h2>
    <p>
    <table class="table">
        <thead>
        <tr>
            <th>Field 1</th>
            <th>Field 2</th>
            <th>Field 3</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
        </tr>
        <tr>
            <td>Value 4</td>
            <td>Value 5</td>
            <td>Value 6</td>
        </tr>
        </tbody>
    </table>
    </p>
{% endblock %}