{% extends 'layout.twig' %}

{% block title %}Список пользователей{% endblock %}

{% block main %}
    <h1>Список пользователей</h1>
    <p>
    <ul>{% for user in users %}
            <li>{{ user.login }}</li>
        {% endfor %}
    </ul>
    </p>
{% endblock %}