{% extends 'layout.twig' %}

{% block title %}Список пользователей{% endblock %}

{% block main %}
    <h1>Список пользователей</h1>
    <p>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>Имя</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.name }}</td>
                <td><a href="/users/{{ user.id }}">Открыть профиль</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>
{% endblock %}